@media (min-width: 1281px) {
    #images { left: 0% }
    #username { visibility: visible; width: 50%; }
}

@media (min-width: 1025px) and (max-width: 1280px) {
    #images { left: 0% }
    #username { visibility: visible; width: 50%;  }
}

@media (min-width: 768px) and (max-width: 1024px) {
    #images { left: 0% }
    #username { visibility: visible; width: 50%;  }
}

@media (min-width: 481px) and (max-width: 767px) {
    #images { left: 25% }
    #username { visibility: hidden; width: 0%;  }
}

@media (max-width: 480px) {
    #images { left: 25% }
    #username { visibility: hidden; width: 0%;  }
}

#images {
    position: absolute;
    height: 100%;
    width: 50%;
}

#username {
    position: absolute;
    top: 35px;
    height: 100%;
    font-size: 1em;
    color: #000000;
    left: 42%;
}

#image {
    margin-top: 20px;
    width: 60px;
    height: 60px;
}

#connection {
    position: absolute;
    left: 55px;
    top: 60px;
    width: 25px;
    height: 25px;
}

#rowProfile {
    position: relative;
    text-align: center;
    overflow: hidden;
    width: 180px;
    margin-left: calc((100% - 180px) / 2);
    height: 100%;
    cursor: pointer;
}

#settingsButton {
    padding-top: 42px;
    padding-left: 0;
}

.cursor {
    cursor: pointer
}

