#connection {
    position: absolute;
    left: 70px;
    top: 65px;
    width: 30px;
    height: 30px;
}

#rowProfile {
    height: 100%;
    text-align: center;
}

#image {
    padding-top: 20px;
    padding-right: 0;
    padding-left: 30px;
}

#username {
    padding-top: 35px;
    padding-left: 10px;
    font-size: 1.5em;
    color: #000000;
}

#settingsButton {
    padding-top: 35px;
    padding-left: 0;
}

.cursor {
    cursor: pointer
}

