.close-settings {
    position: absolute;
    top: 5px;
    right: 10px;
    color: white;
}

.todo-image {
    width: 90%;
    left: 5%;
}

.settings-username {
    width: 90%;
    left: 5%;
}

.settings-separator {
    width: 90%;
    left: 5%;
}

.todo {
    width: 90%;
    left: 5%;
}

.email-label {
    width: 90%;
    left: 5%;
}

.email {
    width: 90%;
    left: 5%;
}

.old-password-label {
    width: 90%;
    left: 5%;
}

.old-password {
    width: 90%;
    left: 5%;
}

.new-password-label {
    width: 90%;
    left: 5%;
}

.new-password {
    width: 90%;
    left: 5%;
}

.repeat-password-label {
    width: 90%;
    left: 5%;
}

.repeat-password {
    width: 90%;
    left: 5%;
}

.saveButton {
    background-color: rgb(71, 71, 206);
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    width: 80%;
    left: 10%;
    border-radius: 5px;
    height: 40px;
}

.disconnectButton {
    background-color: red;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    position: absolute;
    bottom: 20px;
    width: 80%;
    left: 10%;
    border-radius: 5px;
    height: 40px;
}