#messagesContainer {
    height: 100%;
    position: relative;
    top: -10px;
}

#messages {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

#chatInput {
    padding-top: 5px;
    padding-left: 40px;
    padding-right: 40px;
}