#messagesContainer {
    height: 100%;
    position: relative;
    top: -10px;
    display: flex;
    flex-flow: row wrap;
    flex-direction: column;
}

#messages {
    flex: 1;
    overflow-y: scroll;
    margin-right: 5px;
}

#messages::-webkit-scrollbar {
    width: 0.2em;
}
 
#messages::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
  border-radius: 10px;
}

#chatInput {
    padding-top: 5px;
    padding-left: 40px;
    padding-right: 40px;
}