.serverNameSettings {
    height: auto;
    color: white;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 1.2em;
    text-align: center;
}

.imageEditorServer {
    width: 100px;
}

.contentServerSettings {
    margin-left: 10%;
}

.close-settings {
    position: absolute;
    top: 5px;
    right: 10px;
    color: white;
}