@media (min-width: 1281px) {
    #contactServerImage { left: 0; top: 5px; width: 40px; height: 40px;}
    #contactServerName { visibility: visible; width: calc(100% - 40px); }
}

@media (min-width: 1025px) and (max-width: 1280px) {
    #contactServerImage { left: 0; top: 5px; width: 40px; height: 40px;}
    #contactServerName { visibility: visible; width: calc(100% - 40px); }
}

@media (min-width: 768px) and (max-width: 1024px) {
    #contactServerImage { left: 0; top: 5px; width: 40px; height: 40px;}
    #contactServerName { visibility: visible; width: calc(100% - 40px); }
}

@media (min-width: 481px) and (max-width: 767px) {
    #contactServerImage { left: 0; top: 5px; width: 40px; height: 40px;}
    #contactServerName { visibility: hidden; width: 0%; }
}

@media (max-width: 480px) {
    #contactServerImage { left: 0; width: 50px; height: 50px;}
    #contactServerName { visibility: hidden; width: 0%; }
}

.textServer {
    padding: 0;
    padding-top: 15px;
    padding-left: 20px;
    font-size: 0.8em;
}

.containerServer {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

#contactServerImages {
    height: 50px;
    width: 50%;
    position: absolute;
}

#contactServerImage {
    position: absolute;
}

#contactServerName {
    position: absolute;
    top: 14px;
    height: 100%;
    font-size: 0.8em;
    color: white;
    left: 50px;
}