#serverContainer {
    height: 100%;
}

#serverButtons {
    height: 100px;
}

#serverChannels {
    height: calc(100% - 344px);
    margin-left: 10px;
    margin-right: 10px;
}

#serverUsers {
    height: 200px;
}

#channelsContainer {
    width: 90%;
    height: 100%;
}

.serverhr {
    height: 10px;
    margin: 0;
    margin-top: 10px;
    border-width: 2px;
}

.buttonServer {
    width: 100%;
    margin-top: 10px;
    margin-left: 40px;
    margin-right: 40px;
    text-align: center;
    font-size: 0.8em;
    background-color: black;
    color: #FFFFFF;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}

.scrollableServer {
    max-height: 100%;
    overflow: auto;
}

.scrollableServer::-webkit-scrollbar {
    width: 0.2em;
}
 
.scrollableServer::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
  border-radius: 10px;
}

.channels {
    margin-bottom: 5px;
    height: 40px;
    padding-top: 7px;
}

.selectableChannel:hover {
    background-color: rgb(140, 140, 140);
    cursor: pointer;
    border-radius: 4px;
}

.selectedChannel {
    background-color: rgb(48, 28, 148);
    cursor: pointer;
    border-radius: 4px;
}