#serverContainer {
    height: 100%;
}

.serverButtons {
    height: 100px;
}

.channelrow {
    margin-bottom: 5px;
}

.full-width {
    width: 100%;
}

.addChannelInServerButton {
    width: 100%;
    text-align: center;
    font-size: 0.8em;
    background-color: black;
    color: #FFFFFF;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    height: 30px;
    margin-left: 8%;
}

.addChannelInServerInput {
    margin-left: 8%;
}

.addChannelInServerName {
    height: 30px;
}

.addChannelInServerAdd {
    height: 30px;
}

.addChannelInServerAddButton {
    padding-left: 10px;
    padding-top: 2px;
}

.addUserInServer {
    height: 30px;
}

.addUserInServerAddButton {
    height: 40px;
    margin-top: 10px;
}

#serverChannels {
    height: calc(100% - 344px);
    margin-left: 10px;
    margin-right: 10px;
}

.serverUsers {
    height: 200px;
}

.channelsContainer {
    width: 100%;
    height: 100%;
}

.serverhr {
    height: 10px;
    margin: 0;
    margin-top: 10px;
    border-width: 2px;
}

.buttonServer {
    width: 100%;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
    font-size: 0.8em;
    background-color: black;
    color: #FFFFFF;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}

.scrollableServer {
    max-height: 100%;
    overflow: auto;
}

.scrollableServer::-webkit-scrollbar {
    width: 0.2em;
}
 
.scrollableServer::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
  border-radius: 10px;
}

.channels {
    margin-bottom: 5px;
    height: 34px;
    padding-top: 7px;
}

.selectableChannel:hover {
    background-color: rgb(140, 140, 140);
    cursor: pointer;
    border-radius: 4px;
}

.selectedChannel {
    background-color: rgb(48, 28, 148);
    cursor: pointer;
    border-radius: 4px;
}

.image-profile2 {
    border-radius: 100%;
    width: 100%;
}