.row.selectable:hover {
    background-color: rgba(40, 40, 40, 200);
    cursor: pointer;
}

.row.selected {
    background-color: gray;
    cursor: pointer;
}

.cursor {
    cursor: pointer;
}

.contactSelector {
    max-height: 10%;
    height: 35px;
    font-size: 1.3em;
    margin-bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.selectorServers {
    padding: 0;
    margin-right: 10px;
    display: inline-block;
}

.selectorSeparator {
    display: inline-block;
}

.selectorFriends {
    padding: 0;
    margin-left: 10px;
    display: inline-block;
}

.contactList {
    width: 100%;
    height: 100%;
}

.contact {
    height: 50px;
    padding-left: 20px;
    margin-bottom: 4px;
}

.scrollable {
    max-height: 85%;
    overflow: auto;
}

.scrollable::-webkit-scrollbar {
    width: 0.2em;
}
 
.scrollable::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
  border-radius: 10px;
}