.rowProfileServer {
    position: relative;
    text-align: center;
    overflow: hidden;
    width: 180px;
    margin-left: calc((100% - 180px) / 2);
    height: 100%;
}

.divImageServer {
    position: absolute;
    height: 100%;
    width: 50%;
}

.imageServer {
    margin-top: 20px;
    width: 60px;
    height: 60px;
}

.servername {
    padding-left: 10px;
    font-size: 1em;
    position: absolute;
    top: 35px;
    height: 100%;
    font-size: 1em;
    color: #ffffff;
    left: 42%;
    width: 50%;
}

.cursor {
    cursor: pointer
}

