/* Source: https://alligator.io/react/react-autocomplete/ */



.no-suggestions {
    color: #999;
    padding: 0.5rem;
}

.suggestionInput {
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 4px;
    /* margin-right: 75px; */
    width: 67%;
    height: 40px;
    border-radius: 4px;
}

.suggestions {
    margin-top: 10px;
    margin-left: 20px;
    /* margin-right: 75px; */

    border: 1px solid #999;
    border-top-width: 0;
    list-style: none;
    max-height: 150px;
    overflow-y: auto;
    padding-left: 0;
    width: 60%;
    background-color: #6b757c;
    position: absolute;
}

.suggestions li {
    padding: 0.5rem;
}

.suggestion-active,
.suggestions li:hover {
    background-color: #2c2c2c;
    color: white;
    cursor: pointer;
    font-weight: 700;
}

.suggestions li:not(:last-of-type) {
    border-bottom: 1px solid #999;
}