.messageBox {
    margin: 10px;
    width: calc(100% - 20px);
    max-width: calc(100% - 20px);
    position: relative;
}

.messagePicture {
    width: 70px;
    height: 100%;
    display: inline-block;
    text-align: center;
    position: absolute;
}

.messageImage {
    position: relative;
    border-radius: 100%;
    top: 10px;
}

.messageContent {
    width: calc(100% - 70px);
    max-width: 85%;
    left: 70px;
    position: relative;
    display: inline-block;
}

#sender {
    position: relative;
    top: 5px;
    font-size: 1em;
    font-weight: bold;
    display: inline-block;
}

#time {
    position: relative;
    top: 5px;
    left: 10px;
    font-size: 0.8em;
    display: inline-block;
}

#message {
    width: 100%;
    max-width: 500px;
    text-align: justify;
    text-justify: inter-word;
    overflow-wrap: break-word;
}